<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `cryptoinfo-card`
     * Tabla de informacion Crypto Info
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoCard extends Polymer.Element {
      static get is() { return 'cryptoinfo-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cryptoinfo-card'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoCard.is, CryptoinfoCard);
  </script>
</dom-module>
