<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-card">
  <template>
    <style>
      :host {
        display: block;
      }
      section {
        margin: 0 auto;
      }

      h1 {
        text-align: center;
      }

      .table-general {
        width: 100%;
        background-color: white;
        border-collapse: collapse;
        text-align: center;
      }

      th, td {
        padding: 10px;
      }

      thead {
        background-color: #2BBAD6;
        border-bottom: solid 5px #2C92B6;
        color: #FFFFFF;
      }
    </style>
    <section>
      <h1>Crypto Info</h1>
      <table class="table-general">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Calificacy</th>
            <th>A..</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID 1</td>
            <td>Calificacy 1</td>
            <td>Description 1</td>
            <td>A.. 1</td>
          </tr>
          <tr>
            <td>ID 2</td>
            <td>Calificacy 1</td>
            <td>Description 2</td>
            <td>A.. 2</td>
          </tr>
          <tr>
            <td>ID 3</td>
            <td>Calificacy 1</td>
            <td>Description 3</td>
            <td>A.. 3</td>
          </tr>
        </tbody>
      </table>
    </section>
  </template>

  <script>
    /**
     * `cryptoinfo-card`
     * Tabla de informacion Crypto Info
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoCard extends Polymer.Element {
      static get is() { return 'cryptoinfo-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cryptoinfo-card'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoCard.is, CryptoinfoCard);
  </script>
</dom-module>
